<header>
    <h1>
        Customer info
    </h1>
</header>


<button (click)="fetchData()">
    Fetch Message
</button>

<div classname="message">
    {{ message }}
</div>

<button (click)="getAllCustomers()">
    click to see all customers in the db
</button>

<ul class="customers-list">
    <li *ngFor="let customer of allCustomers" class="allCustomers">
      <p><strong>Name:</strong> {{ customer.name }}</p>
      <p><strong>City:</strong> {{ customer.city }}</p>
      <p><strong>Street:</strong> {{ customer.street }}</p>
      <p><strong>Contact:</strong> {{ customer.contact }}</p>
      <p><strong>ID:</strong> {{ customer.id }}</p>
      <hr /> <!-- separator between customers -->
    </li>
</ul>

<router-outlet></router-outlet>
