body {
    background-color: #f7f7f7; 
    font-family: 'Arial, sans-serif';
    color: #333333; 
  }
  
  .main-header {
    background-color: #E6D7D0;
    color: #333333;
    width: 100%;
    padding: 0; 
    margin: 0; 
    height: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .main-header h1 {
    font-size: 2em;
    margin: 0;
  }
  
  .main-intro {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #555555;
    font-size: 30px;
  }
  
  .intro-section {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .navigation-buttons {
    margin-top: 90px;
  }
  
  .action-button {
    background-color: #d3e0ea;
    color: #333333;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    width: 230px;
    font-size: 1em;
    cursor: pointer;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .action-button:hover {
    background-color: #aacfd0; 
    transform: scale(1.05);
  }
  
  .action-button:active {
    background-color: #8aa7ab; 
    transform: scale(1.02);
  }
  